.cartProds{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.productCard{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;

    justify-content: center;
    text-align: center;
    
    background-color: hsl(0, 0%, 100%);

    box-shadow: 3px 3px 5px;

    transform: scale(1);
    transition: 0.5s;

    width: 50%;
}
.productData{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.productImg{
    height: 200px;
    width: auto;
    padding: 1%;
}
.productText{
    display: flex;
    text-align: left;
}
.productName{
    font-size: 1.3em;
    padding-right: 10px;
}
.productPrice{
    font-size: 1.8em;
    font-weight: bold;

    padding-left: 10px;
}