#navbar--primary_li-cart{
    height: 3.75vh;

    margin-right: 1vw;
}
#cart-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cart_IconandCounter{
    position: relative;
    
    margin-right: 0.7812vw;
}
#cartIcon{
    position: relative;
    /**/
    font-size: clamp(1rem, 1vw + 0.5625vh, 1.25rem);
    margin-left: 0.2604vw;
}
#cartCounter_span{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 100%;
    max-height: 100%;

    overflow: hidden;
}
#cartCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-width: 1vw;
    height: auto;

    margin: 0;
    padding: 0.25vh 0vw;

    background-color: var(--blue);
    color: white;
    /*font-size: 0.7em;*/
    font-size: clamp(0.75rem, 1vw + 0.5625vh, 0.75rem);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}
#cartTxt{
    /**/
    font-size: clamp(1rem, 1vw + 0.5625vh, 1rem);
    margin-left: 0.2604vw;
}