table, thead, tr, th, td{
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;
}
.cartMain{
    min-height: 170vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: hsl(0, 0%, 100%);
}
.cartHead{
    position: relative;

    display: flex;
    flex-direction: column;
    height: 10vh;
    padding: 0;
    margin: 0;
    
    opacity: 1;
    background-color: hsl(0, 0%, 100%);
}
#yourCartIsEmptyText{
    padding: 0;
    margin: 10px;

    display: flex;
    justify-content: center;

    font-weight: normal;
}


































.cartContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
#cartContentMain{
    width: 100%;
}
#prodTable_Div{
    flex: 0 0 79%;
    flex-direction: column;
    border-radius: 5px;
}
#prodTable_Table{

}
#prodTable_Table_Head{
    display: flex;
    flex-direction: row;

    background-color: black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.prodTable_Table_Head_Item{
    flex: 1;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
#prodTable_Table_Head_Item_img{
    flex: 2;
}
#prodTable_Table_Head_Item_img_in{
    
}
#prodTable_Table_Head_Item_description{
    flex: 2.5;
}
#prodTable_Table_Head_Item_quantity{
    flex: 1;
}
.productRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;

    height: 25vh;

    border-radius: 10px;
    
    background-color: transparent;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0px 0px 0px;
    margin-bottom: 15px;
}
.productRow:hover{
    box-shadow: 0px 0px 5px;
}
.productRow:nth-child(2){
    margin-top: 10px;
}
.productRow:last-child{
    margin-bottom: 0px;
}
.productRow_Content{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
}
.prodTable_Table_Content_Item{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
.productImgDiv {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.productImg {
    max-width: 100%;
    max-height: 20vh; /* A viewport magasságához viszonyítva */
    object-fit: contain;
}
.productDescription{
    flex: 2.5;
    font-size: 1.3em;
}
.productPrice{
    font-size: 1.8em;
    font-weight: bold;
}
.productNoItems{
    flex: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    align-self: center;
}
.cartProdQBtnDiv{
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartProdQBtn{
    width: 100%;
    background-color: rgb(156, 103, 41);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
}
.cartProdQBtn:hover{
    background-color: rgb(185, 111, 27);
    transition: 0.1s;
}
.cartProdQBtnTxt{
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    vertical-align: middle;
}
.productQuantity{
    font-size: 1.8em;
    font-weight: bold;
    flex: 0.5;
}
.productSubtotal{
    font-size: 1.8em;
    font-weight: bold;
}
.prodDelBtn{
    color: black;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;

    background: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 0px;

    padding: 15px;

    cursor: pointer;
}
.prodDelBtn:hover{
    color: white;
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 5px black;
}






























#cartContentSumTableDiv{
    height: 26.25vh;
    flex: 0 0 19%;
    margin-left: 21px;
    margin-bottom: 10px;
}
#cartContentSumTableTable{
    background-color: black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.cartContentSumTableTableContent{
    height: 100%;
}
.cartCSumTableRow{
    align-items: center;
}
.cartCSumTableItem{
    color: white;
    font-weight: bold;
}
.sumTableTxt{
    text-align: left;
}
.sumTableTxtTxt{
    text-align: left;
    padding-left: 10px;
}
.sumTxt{
    padding-left: 30px;
}
.sumTitRow{
    height: 30%;
}
#cartSumTitTxt{
    font-size: 2em;
    width: 100%;
}
.sumTextRow{
    height: 35%;
}
.sumVal{
    text-align: right;
    padding-right: 30px;
}
#cartSumValTxt{
    font-size: 1.2em;
}
#cartFinValTxt{
    font-size: 1.4em;
}
#cartSumValVal{
    font-size: 1.2em;
}
#cartFinValVal{
    font-size: 1.4em;
}





















#cartContentFooter{
    display: none;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}
#cartRemoveAllBtnDiv{

}
#cartRemoveAllBtnDiv:hover{

}
#cartRemoveAllBtn{
    display: inline;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

    color: black;
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 0px;

    font-size: 1.3em;
    cursor: pointer;

    border-radius: 5px;
    border: 1px solid black;
}
#cartRemoveAllBtn:hover{
    color: white;
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0px 0px 5px black;
}