table, thead, tr, th, td{
    margin: 0;
    padding: 0;

    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}
/*-----------------------------------------------------------*/
.cartMain{
    display: flex;
    flex-direction: column;
    text-align: center;

    min-height: 100vh;

    margin: 0;
    padding: 0;

    background-color: hsl(0, 0%, 100%);
}
.cartHead{
    position: relative;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    
    opacity: 1;
    background-color: hsl(0, 0%, 100%);
}
#yourCartIsEmptyText{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    padding: 0;

    font-weight: normal;
}
/*-----------------------------------------------------------*/
.cartContent{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}
#cartContentMain{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    width: 100%;
}
/*-----------------------------------------------------------*/
#prodTable_Div{
    flex: 0 0 79%;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#prodTable_Table_Head{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    background-color: var(--purple);
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 5px;
}
.prodTable_Table_Head_Item{
    flex: 1;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    color: white;
}
#prodTable_Table_Head_Item_img{
    flex: 2;
}
#prodTable_Table_Head_Item_description{
    flex: 2.5;
}
#prodTable_Table_Head_Item_quantity{
    flex: 1;
}
/*-----------------------------------------------------------*/
.productRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 25vh;

    margin-bottom: 2vh;

    background-color: white;
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 10px;
    box-shadow: 0px 0px 0px;
}
.productRow:hover{
    box-shadow: 0px 0px 5px;
}
.productRow:nth-child(2){
    margin-top: 2vh;
}
.productRow:last-child{
    margin-bottom: 0;
}
.productRow_Content{
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}
/*-----------------------------------------------------------*/
.prodTable_Table_Content_Item{
    flex: 1;

    justify-content: center;
    align-items: center;
}
.productImgDiv {
    flex: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg {
    max-width: 100%;
    max-height: 20vh;
    object-fit: contain;
}
.productDescription{
    flex: 2.5;

    font-size: 1.3em;
}
.productPrice{
    font-size: 1.8em;
    font-weight: bold;
}
/*-----------------------------------------------------------*/
.productNoItems{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cartProdQBtnDiv{
    flex: 0.25;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1 / 1;
}
.cartProdQBtn{
    flex: 1;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;

    width: 100%;

    background-color: var(--blue);
    box-shadow: 0px 0px 0px black;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;

    transition: 0.2s;
}
.cartProdQBtn:hover{
    cursor: pointer;
    background-color: var(--blue-hover);
    box-shadow: 0px 0px 5px black;
}
.cartProdQBtnTxt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    line-height: 1;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.cartProdQBtn .cartProdQBtnTxt svg line{
    stroke: black;
}
.cartProdQBtn:hover .cartProdQBtnTxt svg line{
    stroke: black;
}
.productQuantity{
    flex: 1;

    font-size: 1.8em;
    font-weight: bold;
}
/*-----------------------------------------------------------*/
.productSubtotal{
    font-size: 1.8em;
    font-weight: bold;
}
.prodDelDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodDelBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;

    width: 35%;

    background: var(--blue);
    color: black;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    box-shadow: 0px 0px 0px;

    transition: 0.2s;
}
.prodDelBtn:hover{
    cursor: pointer;
    /*color: white;*/
    background-color: var(--blue-hover);
    box-shadow: 0px 0px 5px black;
}
.fa-trash{
    flex: 1;

    display: flex;
    justify-content: center;
    align-content: center;
    aspect-ratio: 1 / 1;

    height: 100%;

    margin: 0;
    padding: 0;
}
/*-----------------------------------------------------------*/
#cartContentSumTableDiv{
    flex: 0 0 19%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 29.3vh;

    margin-left: 1.5vw;
    padding: 0;
}
#cartContentSumTableDivDiv{
    width: 100%;
    height: 100%;

    background: white;
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 10px;
}
#cartContentSumTableTable{
    width: 100%;
    height: 100%;
}
.cartCSumTableItem{
    color: black;
    font-weight: bold;
}
.sumTableTxtTxt{
    text-align: left;
    padding-left: 0.5vw;
}
.sumTxt{
    padding-left: 1.75vw;
}
.sumTitRow{
    height: 30%;
}
#cartSumTitTxt{
    width: 100%;

    font-size: 2em;
}
.sumTextRow{
    height: 35%;
}
.sumVal{
    text-align: right;
    
    padding-right: 1.75vw;
}
#cartSumValTxt{
    font-size: 1.2em;
}
#cartFinValTxt{
    font-size: 1.4em;
}
#cartSumValVal{
    font-size: 1.2em;
}
#cartFinValVal{
    font-size: 1.4em;
}
/*-----------------------------------------------------------*/
#cartOderBtnDiv{
    margin-top: 1.8vh;
}
#cartOderBtn{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: var(--blue);
    color: black;
    font-size: 1.4em;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;

    transition: 0.2s;
}
#cartOderBtn:hover{
    cursor: pointer;
    /*color: white;*/
    background-color: var(--blue-hover);
    box-shadow: 0px 0px 5px black;
}
/*-----------------------------------------------------------*/
#cartContentFooter{
    display: none;
    justify-content: center;
    align-items: center;

    margin-top: 2.5vh;
    margin-bottom: 10vh;
}
#cartRemoveAllBtn{
    display: inline;

    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

    background-color: var(--blue);
    color: black;
    font-size: 1.3em;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    
    transition: 0.2s;
}
#cartRemoveAllBtn:hover{
    /*color: white;*/
    background-color: var(--blue-hover);
    box-shadow: 0px 0px 5px black;
}