.cartHead{
    position: relative;

    display: flex;
    flex-direction: column;
    height: 10vh;
    padding: 0;
    margin: 0;
    
    opacity: 1;
    background-color: hsl(0, 0%, 100%);
}
.cartContent{
    height: 170vh;
    padding: 0;
    margin: 0;

    text-align: center;

    background-color: hsl(0, 0%, 100%);
}
.cartProds{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /*height: 100vh;*/
}
#yourCartIsEmptyText{
    padding: 0;
    margin: 0;

    font-weight: normal;
}
.productCard{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;

    justify-content: center;
    text-align: center;
    
    background-color: hsl(0, 0%, 100%);

    box-shadow: 3px 3px 5px;

    transform: scale(1);
    transition: 0.5s;

    width: 50%;
}
.productCard:last-child {
    margin-bottom: 60px;
}
.productData{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.productImg{
    height: 200px;
    width: auto;
    padding: 1%;
}
.productText{
    display: flex;
    text-align: left;
}
.productName{
    font-size: 1.3em;
    padding-right: 10px;
}
.productPrice{
    font-size: 1.8em;
    font-weight: bold;

    padding-left: 10px;
}
#cartRemoveAllBtn{
    display: inline;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;

    background: hsl(0, 94%, 56%);

    font-size: 1.3em;

    cursor: pointer;
}