*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#myVideo {
    object-fit: cover;
    object-position: center top;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
header{
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
}
h1{
    padding: 0;
    margin: 0;

    text-align: center;
}
#homeTitle{
    padding: 23px;
    margin: 0;

    text-align: center;

    font-size: 2.5em;
    font-weight: bold;
}
h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
.navbar{
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 1;

    background: hsl(215, 70%, 48%);
}
.navbar ul{
    overflow: hidden;
    padding-left: 10vw;
    margin: 0;
    
    color: hsl(0, 0%, 100%);

    list-style-type: none;
}
.navbar li{
    padding: 0;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 7vw;

    float: left;

    background: hsl(215, 70%, 48%);

    text-align: center;

    transition: 0.8 ease-in-out;
}
.navbar li:hover{
    background-color: hsl(215, 64%, 58%);
    transition: 0.5s;
}
.navbar a{
    display: block;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    margin: 0;

    color: hsl(0, 0%, 100%);

    text-decoration: none;
}
.navItem{
    width: 8vw;

    text-align: center;
}
#cartIcon{
    position: relative;
    margin-left: 5px;
}
main{
    flex: 1;
    height: 180vh;
    padding: 0;
    margin: 0;
}
.mainHead{
    position: relative;

    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 0;
    margin: 0;
    
    opacity: 1;
    background-color: hsl(0, 0%, 100%);
}
.pageTitle{
    text-align: center;

    font-size: 2em;
    font-weight: bold;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 10vh;
    padding: 0;
    margin: 0;

    text-align: center;
    
    opacity: 1;
    background: hsl(215, 70%, 48%);
}
.contactInfo{
    text-align: center;
    padding: 10px;
    opacity: 1;
    color: hsl(0, 0%, 100%);
}
#contactData{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
#email{
    color: hsl(0, 0%, 100%);

    text-decoration: none;
}