button, i{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.productCard{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin-left: 1vw;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.5);
}
.productCard:first-child{
    margin-left: 0vw;
}
.productData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 5px;
    /*padding: 0.5447vh 0.2604vw;*/

    border: none;
    border-radius: 10px;
}
/*
.productData:hover{
    padding: 0;
    border-width: 0.54vh 0.26vw;
    border-style: solid;
    border-color: var(--purple);
}
*/
.imgContainer{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-right: 0.2604vw;
    margin-left: 0.2604vw;
}
.productImg{
    width: 13vw;
    height: auto;

    border-radius: 10px;
    
    transform: scale(1);
    transition: 0.2s;
}
.productImg:hover{
    transform: scale(1);
    transition: 0.1s;
}
.productText{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;

    width: 100%;

    margin: 0vh 0.2604vw;
    padding: 0;
}
.productName{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    margin: 0;
    padding: 0;

    /*font-size: 1.1em;*/
    font-size: clamp(1.25rem, 1vw + 0.5625vh, 1.25rem);
}
.productPrice{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0;
    padding: 0;

    /*font-size: 1.5em;*/
    font-size: clamp(2rem, 1vw + 0.5625vh, 2rem);
    font-weight: bold;
}
/*-----------------------------------------------------------*/
.newproductNav{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-right: 0.2604vw;
    margin-left: 0.2604vw;
    padding: 0;
}
.fillerpNav{
    flex: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}
.newproductNavIn{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}
.productQuantity{
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: auto;

    margin-right: 0.2604vw;
    padding: 0;

    /*background-color: rgb(199, 199, 199);*/
    border-top: 1px solid hsl(0, 0%, 0%);
    border-bottom: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    box-sizing: border-box;
}
.productQuantityChanger{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

    margin: 0;
    padding: 0;

    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 0px;
    box-sizing: border-box;

    cursor: pointer;
    outline: 1px solid black;

    font-size: clamp(1.25rem, 1vw + 0.5625vh, 1.25rem);

    transition: 0.2s;
}
.productQuantityChanger:hover{
    background-color: var(--blue-hover);
    box-shadow: 0px 0px 5px;
}
.pQNumSpan{
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    height: auto;

    margin: 0;
    padding: 0 0.1vw;

    /*
    border-top: 1px solid hsl(0, 0%, 0%);
    border-bottom: 1px solid hsl(0, 0%, 0%);
    */
}
.pQNumInput{
    text-align: center;

    height: auto;
    width: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0;
    
    outline: none;
    border: none;
    /*font-size: 1em;*/
    font-size: clamp(1.25rem, 1vw + 0.5625vh, 1.25rem);
    font-family: 'Times New Roman', Times, serif;
}
.pQNumInput::selection{
    background-color: var(--blue-hover);
}
.pQNumInput::-webkit-inner-spin-button,
.pQNumInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.productCart{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    box-shadow: 0px 0px 0px;
}
.newCartBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background: var(--green);

    /*font-size: 1.25em;*/
    font-size: clamp(1.25rem, 1vw + 0.5625vh, 1.25rem);

    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;

    box-shadow: 0px 0px 0px;
    cursor: pointer;
    transition: 0.2s;
}
.newCartBtn:hover{
    background: var(--green-hover);
    box-shadow: 0px 0px 5px;
}
.fa-cart-shopping{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 5px;
}