:root{
    --purple: hsl(276, 72%, 45%);
    --blue: hsl(203, 100%, 50%);
    --blue-hover: hsl(203, 100%, 80%);
    --green: hsl(174, 97%, 60%);
    --green-hover: hsl(174, 97%, 85%);
}
.productsMainContent{
    height: 170vh;
    padding: 0;
    margin-right: 10vw;
    margin-left: 10vw;
}
.productRow{
    flex: 1;
    display: flex;
    gap: 3vw;
    height: 40vh;
    margin-top: 50px;
    margin-bottom: 50px;
}
#firstProdRow{
    margin-top: 50px;
}
.clone {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}