:root{
    --purple: hsl(276, 72%, 45%);
    --blue: hsl(203, 100%, 50%);
    --blue-hover: hsl(203, 100%, 80%);
    --green: hsl(174, 97%, 60%);
    --green-hover: hsl(174, 97%, 85%);
}
.productsMainContent{
    min-width: 100%;
    max-width: 100%;
    height: 170vh;

    margin-right: 10vw;
    margin-left: 10vw;
    padding: 0;
}
.productRow{
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 40vh;

    margin-top: 5vh;
    margin-bottom: 5vh;
}
#firstProdRow{
    margin-top: 50px;
}
@media (max-width: 196px){
    .productRow{
        height: 20vh;
    }
}
.clone {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}